{% extends '::base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.imdbLink) }}
    {{ form_row(form.youtubeLink) }}
    {{ form_row(form.rating) }}
    {{ form_row(form.director) }}
    {{ form_row(form.producer) }}
    {{ form_row(form.actors) }}
    {{ form_row(form.send) }}
    {{ form_end(form) }}

    <ul>
        <li><a href="{{ path('movie_list') }}" target="_self">List Movies</a></li>
        <li><a href="{{ path('default_homepage') }}" target="_self">Home</a></li>
    </ul>
{% endblock %}